$thm_green: #008745;
$text_black: #212121;
$text_gray: #979797;
$thm_light: #EBF7ED;
$text_red: #D92D20;
$red_light: #FFF0E5;
$text_green: #039855;
$green_light: #ECFDF3;
$text_yellow: #D9A541;
$yellow_light: #FFF8E5;
$text_purple: #7955A3;
$purple_light: #F7EDFF;
$gray_clr: #F2F4F6;
$white: #FFFFFF;
$bg_gray: #F7F8FA;
$border_clr: #EBEBEB;
$text_orange: #FF6D00;